.glyphicon .glyphicon{
	font-size:32px;
	color:blue;
}
.features .glyphicon{
	font-size:22px;
	color:red;
	
}

body{
	padding-top: 70px;
	font-family: "Microsoft JhengHei";
}
footer{
	background-color:orange;
}
