body{
	padding-top: 70px;
	font-family: "Microsoft JhengHei";
}
.features .glyphicon{
	font-size:22px;
	color:red;	
}
.glyphicon .glyphicon{
	font-size:100px;
	color:red;
}
.lcon .glyphicon{
	font-size:32px;
	color:blue;
}
footer{
	background-color:orange;
}
